<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SysJaky_N</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SysJaky_N.styles.css" asp-append-version="true" />
</head>
<body>
    <a class="visually-hidden-focusable" href="#main-content">Přeskočit na obsah</a>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3" role="navigation">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SysJaky_N</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "page" : null)">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Privacy" ? "page" : null)">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Courses/Index" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Courses/Index" ? "page" : null)">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Articles/Index" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Articles/Index" ? "page" : null)">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Contact" ? "page" : null)">Contact</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Admin/Dashboard/Index">Admin</a>

                                <a class="nav-link" asp-area="" asp-page="/Admin/Articles/Index" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Admin/Articles/Index" ? "page" : null)">Manage Articles</a>

                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Cart/Index" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Cart/Index" ? "page" : null)">Cart</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-light me-2" asp-page="/Account/Login" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Account/Login" ? "page" : null)">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-page="/Account/Register" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Account/Register" ? "page" : null)">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Manage" aria-current="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Account/Manage" ? "page" : null)">@User.Identity?.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main id="main-content" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SysJaky_N - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
