@page "{id:int}"
@model SysJaky_N.Pages.Articles.DetailsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Model.Article?.Title ?? Localizer["Title"].Value;
}

@if (Model.Article is not null)
{
    <h1>@Model.Article.Title</h1>

    <p>@Model.Article.Content</p>

    <p><small>@Localizer["PublishedOn", Model.Article.CreatedAt.ToString("g")]</small></p>
}
else
{
    <h1>@Localizer["Title"]</h1>
    <p>@Localizer["NotFound"]</p>
}
