@page
@model SysJaky_N.Pages.Admin.Articles.IndexModel
@{
    ViewData["Title"] = "Správa článků";
}

<h1>Správa článků</h1>

<p>
    <a asp-page="Create">Vytvořit nový</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Vytvořeno</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Articles)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.CreatedAt.ToString("g")</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.Id">Upravit</a> |
                <a asp-page="Details" asp-route-id="@item.Id">Detail</a> |
                <a asp-page="Delete" asp-route-id="@item.Id">Smazat</a>
            </td>
        </tr>
    }
    </tbody>
</table>
