@page "{id:int}"
@model SysJaky_N.Pages.Admin.Vouchers.DeleteModel
@using SysJaky_N.Models
@{
    ViewData["Title"] = "Smazat voucher";
}

<h1>Smazat voucher</h1>

<div>
    <h4>Opravdu chcete tento voucher smazat?</h4>
    <dl class="row">
        <dt class="col-sm-3">Kód</dt>
        <dd class="col-sm-9">@Model.Voucher.Code</dd>
        <dt class="col-sm-3">Typ</dt>
        <dd class="col-sm-9">@(Model.Voucher.Type switch
            {
                VoucherType.Percentage => "Procentuální sleva",
                VoucherType.FixedAmount => "Fixní částka",
                _ => Model.Voucher.Type.ToString()
            })</dd>
        <dt class="col-sm-3">Hodnota</dt>
        <dd class="col-sm-9">
            @if (Model.Voucher.Type == VoucherType.Percentage)
            {
                @string.Format("{0:0.##}%", Model.Voucher.Value)
            }
            else
            {
                @Model.Voucher.Value.ToString("C")
            }
        </dd>
        <dt class="col-sm-3">Platnost</dt>
        <dd class="col-sm-9">
            @if (Model.Voucher.ExpiresUtc.HasValue)
            {
                @DateTime.SpecifyKind(Model.Voucher.ExpiresUtc.Value, DateTimeKind.Utc).ToLocalTime().ToString("g")
            }
            else
            {
                @:Nikdy
            }
        </dd>
        <dt class="col-sm-3">Max. uplatnění</dt>
        <dd class="col-sm-9">@(Model.Voucher.MaxRedemptions?.ToString() ?? "Bez omezení")</dd>
        <dt class="col-sm-3">Využito</dt>
        <dd class="col-sm-9">@Model.Voucher.UsedCount</dd>
        <dt class="col-sm-3">Platí pro</dt>
        <dd class="col-sm-9">@Model.Voucher.AppliesToCourse?.Title ?? "Všechny kurzy"</dd>
    </dl>
    <form method="post" class="d-flex gap-2">
        <input type="hidden" asp-for="Voucher.Id" />
        <button type="submit" class="btn btn-admin-warning">Smazat</button>
        <a asp-page="Index" class="btn btn-secondary">Zpět na přehled</a>
    </form>
</div>
