@page "{id:int}"
@model SysJaky_N.Pages.Admin.CourseBlocks.DetailsModel
@{
    ViewData["Title"] = "Detail bloku kurzů";
}
<h1>@Model.CourseBlock.Title</h1>
<p>@Model.CourseBlock.Description</p>
<p>Cena: @Model.CourseBlock.Price</p>
<h3>Moduly</h3>
<ul>
@foreach (var course in Model.CourseBlock.Modules)
{
    <li>@course.Title</li>
}
</ul>
<p>
    <a asp-page="Edit" asp-route-id="@Model.CourseBlock.Id">Upravit</a> |
    <a asp-page="Index">Zpět na přehled</a>
</p>
