@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SysJaky_N.Pages.Courses.CalendarModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Localizer["Monday"]</th>
            <th>@Localizer["Tuesday"]</th>
            <th>@Localizer["Wednesday"]</th>
            <th>@Localizer["Thursday"]</th>
            <th>@Localizer["Friday"]</th>
            <th>@Localizer["Saturday"]</th>
            <th>@Localizer["Sunday"]</th>
        </tr>
    </thead>
    <tbody>
@foreach (var week in Model.Weeks)
{
    <tr>
    @foreach (var day in week)
    {
        if (day == null)
        {
            <td></td>
        }
        else
        {
            var date = day.Value;
            <td>
                <div>@date.Day</div>
                <ul class="list-unstyled">
                @if (Model.CoursesByDate.ContainsKey(date))
                {
                    foreach (var course in Model.CoursesByDate[date])
                    {
                        <li><a asp-page="/Courses/Details" asp-route-id="@course.Id">@course.Title</a></li>
                    }
                }
                </ul>
            </td>
        }
    }
    </tr>
}
    </tbody>
</table>

