@page "{id}"
@model SysJaky_N.Pages.Admin.Users.DeleteModel
@inject IStringLocalizer<SysJaky_N.Pages.Admin.Users.DeleteModel> Localizer
@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1>@Localizer["PageTitle"]</h1>

<h3>@Localizer["ConfirmationPrompt"]</h3>
<div>
    <strong>@Model.UserEntity.Email</strong>
</div>

<form method="post">
    <input type="hidden" asp-for="UserEntity.Id" />
    <button type="submit" class="btn btn-admin-warning">@Localizer["DeleteButton"]</button>
    <a asp-page="Index" class="btn btn-secondary">@Localizer["CancelButton"]</a>
</form>
